@using Services
@using Clients
@inject ProductsClient Client
@inject ProductService ProductService

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mi Farmacia">
    <meta name="keywords" content="farmacia, medicina">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Farmacia</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="@Assets["/css/bootstrap.min.css"]" type="text/css" />
    <link rel="stylesheet" href="@Assets["/css/font-awesome.min.css"]" type="text/css" />
    <link rel="stylesheet" href="@Assets["/css/elegant-icons.css"]" type="text/css" />
    <link rel="stylesheet" href="@Assets["/css/nice-select.css"]" type="text/css" />
    <link rel="stylesheet" href="@Assets["/css/jquery-ui.min.css"]" type="text/css" />
    <link rel="stylesheet" href="@Assets["/css/owl.carousel.min.css"]" type="text/css" />
    <link rel="stylesheet" href="@Assets["/css/slicknav.min.css"]" type="text/css" />

    <link rel="stylesheet" href="@Assets["/css/style.css"]" />
    <link rel="stylesheet" href="@Assets["Frontend.styles.css"]" />
    <link rel="preload" href="@Assets["/js/main.js"]" as="script">
    <ImportMap />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/@@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
</body>
</html>
@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.LoadProductsAsync(Client.GetProductsAsync);
    }
}